### target ###
/yuan-api-admin/target/
/yuan-api-client-sdk/target/
/yuan-api-common/target/
/yuan-api-gateway/target/
/yuan-api-interface/target/

### IntelliJ IDEA ###
.idea

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
